*{background-color: black;}

*{color: aliceblue;}

*{font-family: Verdana, Geneva, Tahoma, sans-serif;}

#akaMarkus{color:red;}

a[href]{color:blue;}

#homeButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#homeButton:hover {
    background-color: #45a049;
}

